@charset "utf-8";
/* CSS Document */



.bu {
	background: #6fa8dc;
	border-radius: 11px;
	padding: 9px 18px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
}
.w100 {
	width: 100%;
}
.w80-mc {
	width: 80%;
	height: auto;
	margin: 0 auto;
}
.line {
	border-style: solid;
	border-width: 1px;
}
.test {
	background-color: #666;
}
a {
	text-decoration: none;
	color: #22AA36;
}
a:hover {
	text-decoration: none;
	color: #22AA36;
}
 @media (min-width: 1200px) {
.fillin-content-1 {
	width: 20%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 14px;
}
.fillin-content-2 {
	width: 50%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.fillin-content-3 {
	width: 20%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.textwh {
	width: 100%;
}
.teacher {
	width: 28%;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 1px;
}
.courseName {
	width: 48%;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 1px 5px;
}
.Number {
	width: 20%;
	font-size: 21px;
	text-align: center;
	float: left;
	background-color: #333;
	font-family: 'Acme', sans-serif;
	padding: 1px;
	color: #FFF;
}
.nav-head {
	width: 100%;
	height: auto;
	padding: 2px;
	text-align: center;
	color: #22AA36;
	box-shadow: 0px 0px 0px 1px #CCCCCC;
	font-family: 'Secular One', sans-serif;
}
.fillin-content {
	width: 32%;
	margin: 0 auto;
	margin-top: 2%;
	margin-right: 1%;
	height: auto;
	float: left;
	padding: 4px 0px;
	text-align: left;
	font-size: 20px;
}
.remind {
	width: 100%;
	margin: 1%;
	background: #eaea40;
	float: left;
	border-radius: 19px;
	padding: 26px 56px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.test {
	border-style: solid;
	border-width: 1px;
}
.remind-1 {
	width: 100%;
	margin: 1%;
	background: #00a8ea;
	float: left;
	border-radius: 19px;
	padding: 2px 3px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-1 {
	width: 48%;
	margin: 1%;
	padding: 2%;
	background: #fba040;
	float: left;
	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-2 {
	width: 48%;
	margin: 1%;
	padding: 2%;
	background: #31c546;
	float: left;
	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.inputmargin {
	width: 100%;
	margin-bottom: 1%;
}
.teacherLogin {
	background: #000000;
	border-radius: 11px;
	padding: 2px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
.studentLogin {
	background: #efc959;
	border-radius: 11px;
	padding: 20px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
.fillin-title {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	height: auto;
	padding: 4px 0px;
	text-align: center;
	font-size: 24px;
}
}
 @media (max-width: 767px) {
.font {
	font-size: 12px;
}
.teacher {
	width: 30%;
	float: left;
	font-size: 14px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 1px 5px;
}
.courseName {
	width: 50%;
	float: left;
	font-size: 14px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	float: left;
	padding: 1px 5px;
}
.Number {
	width: 20%;
	text-align: center;
	float: left;
	background-color: #333;
	font-size: 16px;
	font-family: 'Acme', sans-serif;
	padding: 1px;
	color: #FFF;
}
.nav-head {
	width: 100%;
	height: auto;
	padding: 2px;
	text-align: center;
	color: #22AA36;
	box-shadow: 0px 0px 0px 1px #CCCCCC;
	font-family: 'Secular One', sans-serif;
}
.remind {
	width: 100%;
	margin: 1%;
	background: #eaea40;
	float: left;
	border-radius: 19px;
	padding: 26px 56px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.test {
	border-style: solid;
	border-width: 1px;
}
.fillin-title {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	height: auto;
	padding: 4px 0px;
	text-align: center;
	font-size: 20px;
}
.fillin-content {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 20px;
}
.fillin-content-1 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 14px;
}
.fillin-content-2 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.fillin-content-3 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.textwh {
	width: 100%;
}
.remind-1 {
	width: 100%;
	margin: 1%;
	background: #00a8ea;
	float: left;
	border-radius: 19px;
	padding: 2px 3px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-1 {
	width: 98%;
	padding: 2%;
	margin: 1%;
	background: #fba040;
	/*	float: left;
*/	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-2 {
	width: 98%;
	margin: 1%;
	padding: 2%;
	background: #31c546;
	/*	float: left;
*/	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.inputmargin {
	width: 100%;
	margin-bottom: 1%;
}
.teacherLogin {
	background: #000000;
	border-radius: 11px;
	padding: 2px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
.studentLogin {
	background: #efc959;
	border-radius: 11px;
	padding: 20px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
}
 @media (min-width: 992px) {
	 .textwh {
	width: 100%;
}
.teacher {
	width: 30%;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 1px 5px;
}
.courseName {
	width: 50%;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 1px 5px;
}
.Number {
	width: 20%;
	float: left;
	font-size: 21px;
	text-align: center;
	background-color: #333;
	font-family: 'Acme', sans-serif;
	padding: 1px;
	color: #FFF;
}
.fillin-content {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	height: auto;
	float: left;
	padding: 4px 0px;
	text-align: left;
	font-size: 20px;
}
.fillin-content-1 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 14px;
}
.fillin-content-2 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.fillin-content-3 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.nav-head {
	width: 100%;
	height: auto;
	padding: 2px;
	text-align: center;
	color: #22AA36;
	box-shadow: 0px 0px 0px 1px #CCCCCC;
	font-family: 'Secular One', sans-serif;
}
.remind {
	width: 100%;
	margin: 1%;
	background: #eaea40;
	float: left;
	border-radius: 19px;
	padding: 26px 56px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.test {
	border-style: solid;
	border-width: 1px;
}
.remind-1 {
	width: 100%;
	margin: 1%;
	background: #00a8ea;
	float: left;
	border-radius: 19px;
	padding: 2px 3px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-1 {
	width: 48%;
	margin: 1%;
	padding: 2%;
	background: #fba040;
	float: left;
	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-2 {
	width: 48%;
	margin: 1%;
	padding: 2%;
	background: #31c546;
	float: left;
	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.inputmargin {
	width: 100%;
	margin-bottom: 1%;
}
.teacherLogin {
	background: #000000;
	border-radius: 11px;
	padding: 2px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
.studentLogin {
	background: #efc959;
	border-radius: 11px;
	padding: 20px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
.fillin-title {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	height: auto;
	padding: 4px 0px;
	text-align: center;
	font-size: 24px;
}
}
 @media (min-width: 768px) {
	 .textwh {
	width: 100%;
}
.teacher {
	width: 30%;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 1px 5px;
}
.courseName {
	width: 50%;
	float: left;
	font-size: 20px;
	text-align: center;
	font-family: 'Acme', sans-serif;
	padding: 1px 5px;
}
.Number {
	width: 20%;
	float: left;
	font-size: 21px;
	text-align: center;
	background-color: #333;
	font-family: 'Acme', sans-serif;
	padding: 1px;
	color: #FFF;
}
.fillin-content {
	width: 32%;
	margin-right: 1%;
	margin: 0 auto;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 20px;
}
.fillin-content-1 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 14px;
}
.fillin-content-2 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.fillin-content-3 {
	width: 32%;
	margin: 0 auto;
	margin-right: 1%;
	margin-top: 2%;
	float: left;
	height: auto;
	padding: 4px 0px;
	text-align: left;
	font-size: 16px;
}
.nav-head {
	width: 100%;
	height: auto;
	padding: 2px;
	text-align: center;
	color: #22AA36;
	box-shadow: 0px 0px 0px 1px #CCCCCC;
	font-family: 'Secular One', sans-serif;
}
.fillin-title {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	height: auto;
	padding: 4px 0px;
	text-align: center;
	font-size: 24px;
}
.remind {
	width: 100%;
	margin: 1%;
	background: #eaea40;
	float: left;
	border-radius: 19px;
	padding: 26px 56px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.test {
	border-style: solid;
	border-width: 1px;
}
.remind-1 {
	width: 100%;
	margin: 1%;
	background: #00a8ea;
	float: left;
	border-radius: 19px;
	padding: 2px 3px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-1 {
	width: 48%;
	margin: 1%;
	padding: 2%;
	background: #fba040;
	float: left;
	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.remind-1-2 {
	width: 48%;
	margin: 1%;
	padding: 2%;
	background: #31c546;
	float: left;
	border-radius: 10px;
	color: #000;
	display: inline-block;
	font: normal bold 40px/1 "Vollkorn", serif;
	text-align: center;
}
.inputmargin {
	width: 100%;
	margin-bottom: 1%;
}
.teacherLogin {
	background: #000000;
	border-radius: 11px;
	padding: 2px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
.studentLogin {
	background: #efc959;
	border-radius: 11px;
	padding: 20px 45px;
	color: #ffffff;
	display: inline-block;
	font: normal bold 26px/1 "Open Sans", sans-serif;
	text-align: center;
	margin-bottom: 1%;
}
}
